# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# SQLite Database
*.db

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# Mac/Linux junk
.DS_Store

# Docker
docker-data/

# Coverage reports
htmlcov/
.coverage

# Pylint cache
.pylint.d/

# Jupyter
.ipynb_checkpoints/